@font-face {
    font-family: Roboto;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}
  
@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/RobotoCondensed-Medium.ttf);
}
  
@font-face {
    font-family: RobotoBold;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}
  
@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico-Regular.ttf);
}
  
 
body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
    font-family: Roboto;
}
  
.header-main {
    width: 100%;
    padding: 0 60px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-family: RobotoMedium;
    position: fixed;
    top: 0;
    z-index: 100;
}
  
.header-main-title {
    padding: 0 10px;
    text-transform: uppercase;
    font-family: RobotoBold;
    color: #232020;
    font-size: larger;
    text-decoration: none;
    line-height: 20px;
}
  
.header-main nav {
    display: flex;
    align-items: center;
}
  
.header-main .logo {
    height: 50px;
    width: fit-content;
    align-self: center;
    cursor: center;
}
  
.header-main .logo img {
    height: 100%;
}
  
.header-main ul {
    height: 100%;
    margin-right: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}
  
.header-main ul li {
    display: flex;
    align-items: center;
}
  
.header-main ul li a {
    display: inline-block;
    height: 100%;
    line-height: 60px;
    font-size: 1rem;
    font-family: RobotoMedium;
    color: #000000;
    background-color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    text-decoration: none;
}
  
.header-main ul li a:hover {
    background-color: #2a2a2a;
    color: #fff;
}

.header-main ul li img {
    margin-right: 10px;
}

.about-section {
    padding-top: 40px;
    background-color: #111;
    color: #fff;
    text-align: justify;
    margin: 30px;
}

.about-section h1 {
    font-family: RobotoBold;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.container h2, p {
    padding: 0px 10px;
    text-align: justify;
}

.column {
    flex: 33.33%;
    padding: 0 4px;
    box-sizing: border-box;
}

.column img {
    vertical-align: middle;
    width: 40%;
    height: 80%;
    object-fit: cover;
    margin: 8px;
}

.card img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #05b3a4;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:35%;
    z-index: 1000;
}
  
.footer p {
    color: #fff;
    margin: 5px 0 5px 0;
    font-size: 12px;
}
